/* main elements */

* box-sizing: {
    border-box;
  }

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  color: black;
}

h1 {
  -webkit-box-shadow: 3px 3px 5px 6px tomato;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px tomato;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px tomato;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* classes */

.side-nav,
.main-footer {
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
  list-style: none;
}


.main-footer {
  position: absolute;
  bottom: 10px;
  font-size: .75rem;
}

/* link pseudo classes */

a:link{
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: tomato;

}

/* resize or small devices */

@media only screen and (min-width: 850px) {
  .side-nav {
  max-width: 33%;
  }
}

@media only screen and (max-width: 850px) {

.side-nav {
    max-width: 90%;
    margin: auto;
    padding: 0;
    text-align: center;
  }

  .side-nav a {
    padding: 5px 100px;
    line-height: 2rem;
  }

.main-footer{
  display: none;
  }
}
