/* main elements */

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  color: #303030;
}

h1 {
  text-shadow: 2px 2px tomato;
}

/* classes */

.side-nav,
.main-footer,
.sandbox {
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
  list-style: none;
}

.list-nav li {
  line-height: 1.25em;
}

.main-footer {
  position: absolute;
  bottom: 10px;
  font-size: .75rem;
}

#register {
  padding: .333%;
  margin-left: 10%;
  color: tomato;
  background-color: white;
  opacity: 1;
}

/* link pseudo classes */

a:link{
  text-decoration: none;
  color: #303030;
}

a:visited {
  color: #303030;
}

a:hover {
  color: tomato;

}

#register:hover {
  background-color: black;
  color: tomato;
  opacity: .75;
}

/* resize or small devices */

@media only screen and (min-width: 850px) {
  .side-nav {
  max-width: 33%;
  }
}

@media only screen and (max-width: 850px) {

.side-nav {
    max-width: 90%;
    margin: auto;
    padding: 0;
    text-align: center;
  }

.side-nav a {
    padding: 5px 100px;
    line-height: 2rem;
  }

.main-footer{
  display: none;
  }

}
