/* main elements */

* box-sizing: {
    border-box;
  }

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  color: black;
}

h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/* classes */

.side-nav,
.main-footer {
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
  list-style: none;
}


.main-footer {
  position: absolute;
  bottom: 10px;
  font-size: .75rem;
}

/* link pseudo classes */

a:link{
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: tomato;

}

/* resize or small devices */

@media only screen and (min-width: 850px) {
  .side-nav {
  max-width: 33%;
  }
}

@media only screen and (max-width: 850px) {

.side-nav {
    max-width: 90%;
    margin: auto;
    padding: 0;
    text-align: center;
  }

  .side-nav a {
    padding: 5px 100px;
    line-height: 2rem;
  }

.main-footer{
  display: none;
  }
}
